body{color:#eaeaea;background-color:#363636;}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
img{vertical-align:middle;width:100%;height:auto;object-fit:cover;}
iframe{border:none;aspect-ratio:16/9;}

.content{margin-left:auto;margin-right:auto}

.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.button:hover{color:#000!important;background-color:#ccc!important}

.bar{width:100%;overflow:hidden}
.center .bar{display:inline-block;width:auto}
.bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}

.center{text-align:center!important}
.border{border:1px solid #ccc!important}

.container,.panel{padding:0.01em 16px}.panel{margin-top:16px;margin-bottom:16px}

.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}