html {
	max-width: 86ch;
	padding: 3em 1em;
	margin: auto;
	line-height: 1.75;
	font-size: 1.25em;
	scroll-behavior: smooth;
}

body {
	color: #DCD7BA;
	background-color: #16161D;
	font-family: Consolas;
}

h1 {
	color: #E6C384;
	font-size: 2em;
	text-align: center;
	white-space: pre-line;
}

h2 {
	color: #E6C384;
	margin-bottom: 0;
}

h3 {
	color: #C0A36E;
	margin-bottom: 0;
}

hr {
	height: 2px;
	border-width: 0;
	background-color: #E6C384;
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	white-space: pre-line;
}

iframe {
	border: none;
	aspect-ratio: 16/9;
	margin-top: 1em;
}

.button-bar {
	color: #727169;
	text-align: center;
	font-size: 1.5em;
}

.button {
	color: #DCA561;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	color: #16161D;
	background-color: #DCA561;
}

.button:active {
	color: #16161D;
	background-color: #FFA066;
}

::-webkit-scrollbar {
	width: 0.75em;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #E6C384;
 }

::-webkit-scrollbar-thumb:hover {
	background: #DCA561;
}

::-webkit-scrollbar-thumb:active {
	background: #FFA066;
}

::selection {
	/* color: #76946A; */
	background: #2D4F67;
}
