html {
	max-width: 86ch;
	padding: 3em 1em;
	margin: auto;
	line-height: 1.75;
	font-size: 1.25em;
	scroll-behavior: smooth;
}

body {
	color: #DCD7BA;
	background-color: #16161D;
	font-family: Consolas;
}

h1 {
	color: #FFA066;
	font-size: 2em;
	text-align: center;
	white-space: pre-line;
}

h2 {
	color: #7E9CD8;
	margin-bottom: 0;
}

h3 {
	color: #957FB8;
	margin-bottom: 0;
}

hr {
	height: 2px;
	border-width: 0;
	background-color: #7E9CD8;
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	white-space: pre-line;
}

iframe {
	border: none;
	aspect-ratio: 16/9;
	margin-top: 1em;
}

.button-bar {
	color: #727169;
	text-align: center;
	font-size: 1.5em;
}

.nav-button {
	color: #E6C384;
	text-decoration: none;
}

.nav-button:hover {
	color: #16161D;
	background-color: #E6C384;
}

.button {
	color: #98BB6C;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	color: #16161D;
	background-color: #98BB6C;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #E46876;
 }

::-webkit-scrollbar-thumb:hover {
	background: #FF5D62;
}

::selection {
	/* color: #76946A; */
	background: #2D4F67;
}
